<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
  <div class="container fluid">
    <a class="navbar-brand">Coffee Express</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <div class="dropdown">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="../../public/img/user1.png" alt="user" style="width: 35px; height: 35px; border-radius:50%" />
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="/homePagePublic">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>