{{>header}}
{{>navbar}}

{{#if passwordWrong}}
<div class="alert alert-danger" role="alert">
  Password Or Email Not Match
</div>
{{/if}}

<div class="container" style="margin: 50px auto;">
  <form action="/login" method="POST">
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
       <label for="floatingPassword">Password</label>
    </div>
    <div style="margin: 10px auto; display:flex; justify-content:center">
      <button type="submit" class="btn btn-secondary">Login</button>
      <a class="nav-link" href="/register">Create account</a>
    </div>
  </form>
</div>
