/* NAVBAR */

.nav-brand {
  font-size: 100px !important;
}

.avatarr {
  width: 35px;
  height: 35px;
}

.dropdown-toggle {
  text-decoration: none;
  color: whitesmoke;
}

.nav-item .btn-login {
  color: #fff;
  text-decoration: none;
  border: 2px solid #fff;
  font-weight: bold;
  font-size: 14px;
}
.nav-item .btn-register {
  color: #ffffff !important;
  text-decoration: none;
  border: 2px solid #393939;
  font-weight: bold;
  font-size: 14px;
  background-color: #393939;
}

/* index */

.align-items-center {
  height: 60vh;
  width: 100%;
  background-size: 100%;
  object-fit: cover;
  background-image: url("/public/img/Rectangle\ 3.svg");
  background-repeat: no-repeat;
  border-radius: 20px;
}

.card {
  border-radius: 13px !important;
}

.card-img-top {
  background-color: rgb(235, 235, 235);
  border-top-left-radius: 13px !important;
  border-top-right-radius: 13px !important;
}

.card-body {
  background-color: rgb(235, 235, 235);
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
}
